.DS_Store
.idea/
.vscode/
*.swp
Thumbs.db

dbdata/
docker-compose.override.yml

.env
.env.local
.env.backup

/vendor/
composer.phar
.phpunit.result.cache

*.log
/logs/

/node_modules/
npm-debug.log
yarn-error.log